### Decision Tree Exercise

In [9]:
import pandas as pd

df = pd.read_csv(r'C:\Users\sripr\Documents\VScode\Machine Learning\decision_trees\titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df.drop(columns = ['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], inplace = True)

In [11]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [12]:
from sklearn.preprocessing import LabelEncoder
le_age = LabelEncoder()
df['Sex_new'] = le_age.fit_transform(df.Sex)
df.head()

   Survived  Pclass     Sex   Age     Fare  Sex_new
0         0       3    male  22.0   7.2500        1
1         1       1  female  38.0  71.2833        0
2         1       3  female  26.0   7.9250        0
3         1       1  female  35.0  53.1000        0
4         0       3    male  35.0   8.0500        1

In [13]:
df = df.drop('Sex', axis='columns')
df.head()

   Survived  Pclass   Age     Fare  Sex_new
0         0       3  22.0   7.2500        1
1         1       1  38.0  71.2833        0
2         1       3  26.0   7.9250        0
3         1       1  35.0  53.1000        0
4         0       3  35.0   8.0500        1

In [14]:
target = df.Survived
inputs = df.drop('Survived', axis = 'columns')

In [15]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [16]:
inputs.head()

   Pclass   Age     Fare  Sex_new
0       3  22.0   7.2500        1
1       1  38.0  71.2833        0
2       3  26.0   7.9250        0
3       1  35.0  53.1000        0
4       3  35.0   8.0500        1

In [18]:
inputs.info()
inputs.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Pclass   891 non-null    int64
 1   Age      714 non-null    float64
 2   Fare     891 non-null    float64
 3   Sex_new  891 non-null    int32
dtypes: float64(2), int32(1), int64(1)
memory usage: 24.5 KB

Pclass       0
Age        177
Fare         0
Sex_new      0
dtype: int64

In [19]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.isna().sum()

Pclass     0
Age        0
Fare       0
Sex_new    0
dtype: int64

In [20]:
target.info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: Survived
Non-Null Count  Dtype
--------------  -----
891 non-null    int64
dtypes: int64(1)
memory usage: 7.1 KB

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.2)
len(X_train), len(X_test)

(712, 179)

In [30]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [31]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [32]:
model.score(X_test, y_test)

0.770949720670391